@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}


#fadein {
    animation: fadein 1s;
}

#hardfadein {
    animation: hardfade 1s;
}

@keyframes fadein {
    from {
        opacity: 40%
    }

    to {
        opacity: 100%;
    }
}

@keyframes hardfade {
    from {
        opacity: 0%
    }

    to {
        opacity: 100%;
    }
}